.nav-item {
    font-size: 22px ;
    color: #3F3A3A;
    margin-left: 20px;
}

.nav-item:hover {
    font-weight: bolder;
}

.navbar {
    background: transparent;
}

.caption {
    color: #3F3A3A;
    text-align: left;
    margin-top: -80%;
}


.product {
    width: 200px ; 
    height: 400px;
    display: block;
    margin-left: auto ;
    margin-right: auto ;
    width: 50%;
        
}

@keyframes load{
    100% {
        transform: rotate(360deg);
    }
}

.bg-loader{
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-loader .loader{
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: blue;
    border-right-color: blue;
    border-bottom-color: blue;
    animation: load .8s linear infinite;
}

#marketplace .jumbotron {
    background-image: url('../img/danny-howe-JQCcN6BGIvE-unsplash.jpg');    
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -300px;
    margin-top: 100px; height: 250px;
    
}

#aboutus .card {
    margin-top: 20px;
    margin-left: 10%;
    background-color: #eddcd2 !important;
}

.box{
    color: black;
}

.box::after{
    content: '';
    display: block;
    clear: both;
}

.box .col-5 {
    width: 20%;
    box-sizing: border-box;  
    text-align: center;
    background-color: #eee;
    float: left;
}
.box .col-3 {
    width: 33.3%;
    padding: 20px;
    box-sizing: border-box;  
    text-align: center;
    float: left;
}
.box .col-3 h4 {
    margin: 20px 0;
}
.box .col-3 p {
    text-align: left;
}
a {
    color: black;
    text-decoration: none;
}

.medsos ul li {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    margin-right: 30px;
}

.img-marketplace {
    width: 10%;
}

footer{
    background-color: #eee;
    text-align: center;
    margin-top: 100px;
}

#team {
    margin-top: 100px;
}

.carousel-caption {
    position: absolute;
    top: 100px;
}

.brandNavbar {
        font-family: 'Chakra Petch', sans-serif;
        position: absolute;
        left: 50%;
        margin-top: -20px;
        margin-left: -50px !important;  
        display: grid;
        font-size: 50px;
        color: rgb(112, 110, 103);
}
.item {
    transition: .2s ease-in-out;
}

.item:hover {
    filter: brightness(80%);
    transform: scale(1.1);
    cursor: pointer;
}
.team {
    max-width: 300px;
    filter: grayscale(20);
}

.team:hover {
    filter: none;
    transform: scale(1.1);
}
@media screen and (max-width:768px){
    .container {
        width: 90%;
    }
    .container .raw .col .box{
        text-align: center;
        float: none; 
    }
    header h1{
        text-align: center;
        margin-left: 0%;
        float: none;
    }
    header ul{
        text-align: center;
        float: none;
    }
    .row .col {
        width: 100%;

        margin-bottom: 20px;
    }
    .brandNavbar {
        font-size: medium;
        text-align: right;
        position:relative;
        float: none;
    }
    .box .col-3{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .box .col-4{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .box .col-5{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .navbar {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .jumbotron{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    h1 {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
}